<% content_for :title, "admin page" %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Welcome <%= @admin.email %></h1>

<ul>
  <% @keys.each do |k| %>
  
  <li>api-key -> <%= k.key %> - user -> <%= k.user_id %> <%= link_to "Remove key", remove_key_by_admin_path(k.user_id) %></li>
  <% end %>
</ul>

<%= link_to "Log out", logout_admin_path, class: "btn btn-default" %>